@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #9c9c9c;
}

@font-face {
  font-family: Urbanist;
  src: url(../../public/fonts/urbanist/Urbanist-Regular.ttf);
}

@font-face {
  font-family: UrbanistBold;
  src: url(../../public/fonts/urbanist/Urbanist-Bold.ttf);
}


@font-face {
  font-family: UrbanistLight;
  src: url(../../public/fonts/urbanist/Urbanist-Light.ttf);
}


@font-face {
  font-family: UrbanistItalic;
  src: url(../../public/fonts/urbanist/Urbanist-Italic.ttf);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Urbanist;
}


h1 {
  font-family: UrbanistBold;
}